.bayanno-admin-navbar-container {
  background-color: #2c2e3e;
  width: 100%;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 11px;
  padding-bottom: 11px;
}

.bayanno-admin-navbar-inner-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bayanno-admin-navbar-logo {
  width: 60px;
  margin-right: 2px;
}

.bayanno-admin-menu-button-navbar {
  background-color: rgba(69, 74, 84, 0.4);
  border: 1px solid #454a54;
  outline: none;
  cursor: pointer;
  padding: 6px;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 8px;
  border-radius: 2px;
}

.bayanno-admin-menu-button-navbar:focus {
  outline: none;
}

.bayanno-admin-menu-button-navbar:hover {
  background-color: rgba(69, 74, 84, 0.9);
}

.bayanno-admin-menu-button-icon-navbar {
  color: #eeeded;
  font-size: 22px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.bayanno-admin-details-navbar-container {
  border-top: 1px solid #454a54;
  display: flex;
  align-items: center;
}

.bayanno-admin-navbar-profile-icon {
  width: 54px;
  border: 4px solid rgba(255, 255, 255, 0.11);
  margin-right: 15px;
  border-radius: 50%;
}

.bayanno-admin-navbar-profile-welcome-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #cccccc;
  margin-bottom: 2px;
}

.bayanno-admin-navbar-profile-name {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 5px;
}

.bayanno-admin-navbar-menu-container {
  display: flex;
  flex-direction: column;
}

.bayanno-admin-navbar-menu-item-container {
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  text-decoration: none;
}

.bayanno-admin-navbar-menu-item-container:hover {
  text-decoration: none;
  background-color: #292b3a;
}

.bayanno-admin-navbar-menu-item-container-active {
  background-color: #292b3a;
}

.bayanno-admin-navbar-menu-item-icon {
  color: #525672;
  margin-right: 15px;
  font-size: 15px;
}

.bayanno-admin-navbar-menu-item-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #868aa8;
}
