.bayanno-appointment-bg-container {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/doctors-home-bg.jpg");
  height: 100vh;
  background-size: cover;
}

.bayanno-appointment-inner-bg-container {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.bayanno-appointment-content-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.bayanno-common-home-heading-container {
  min-height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.bayanno-common-home-heading {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 34px;
  font-weight: 600;
  color: #ffffff;
}

.bayanno-common-home-heading-second {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 11px;
}

.bayanno-appointment-main-section {
  background-color: #ffffff;
  padding-top: 22px;
  padding-bottom: 22px;
}

.bayanno-appointment-patient-type-checkbox {
  visibility: hidden;
  position: relative;
}

.bayanno-appointment-patient-type-label {
  position: relative;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #55595c;
  font-weight: 400;
}

.bayanno-appointment-patient-type-label::before {
  height: 20px;
  width: 20px;
  content: "";
  border: 1px solid #e6e6e6;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  margin: -16px 20px;
  border-radius: 3px;
}

.bayanno-appointment-patient-type-label::after {
  content: "\f00c";
  color: #0087be;
  font-family: "FontAwesome";
  position: absolute;
  left: 34px;
  top: 3px;
  font-size: 15px;
  opacity: 0;
  display: inline-block;
}

.bayanno-appointment-patient-type-checkbox:checked
  + .bayanno-appointment-patient-type-label::after {
  opacity: 1;
}

.bayanno-appointment-form-label {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #818a91;
  margin-bottom: 4px;
  cursor: pointer;
}

.bayanno-appointment-form-input {
  background-color: #ffffff;
  color: #555555;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  margin-top: 4px;
  width: 100%;
  min-height: 42px;
  padding: 6px;
  cursor: pointer;
}

.bayanno-appointment-form-input:focus {
  outline-color: rgb(48, 48, 224);
  outline-style: solid;
  outline-width: 1px;
  background-color: #f7f7f7;
}

.bayanno-appointment-form-patient-code-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  margin-top: 3px;
  color: rgb(48, 48, 224);
}

.bayanno-appointment-not-robot-container {
  width: 100%;
  min-width: 120px;
  max-width: 310px;
  border: 1px solid #e6e6e6;
  padding: 14px;
  border-radius: 6px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bayanno-appointment-not-robot-checkbox {
  width: 22px;
  height: 22px;
  margin-right: 4px;
}

.bayanno-appointment-not-robot-label {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #000000;
  margin-left: 3px;
  margin-bottom: 2px;
}

.bayanno-appointment-not-robot-image {
  width: 65px;
}

.bayanno-appointment-make-appointment-heading-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e0eded;
  border-top: 1px solid #e0eded;
  background-color: #ffffff;
  min-height: 180px;
}

.bayanno-appointment-make-appointment-heading {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 29px;
  font-weight: 500;
  color: #1b1b1b;
  text-align: center;
}

.bayanno-appointment-book-now-button {
  width: 100%;
  background-color: #0087be;
  border: 1px solid #0087be;
  min-width: 80px;
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 52px;
  padding: 8px;
  border-radius: 7px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.bayanno-appointment-book-now-button:hover {
  background-color: #02668d;
  transition: background-color 0.3s ease;
}

.bayanno-appointment-book-now-button:focus {
  outline: none;
}
