.bayanno-home-bg-container {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.bayanno-home-content-container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bayanno-home-carousel-container {
  width: 100%;
  margin-bottom: 12px;
}

.bayanno-home-carousel {
  width: 100%;
}

.home-carousel-container {
  width: 100%;
  background-image: url("../../assets/slider1-home.jpg");
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.home-carousel-container-card {
  display: flex;
  flex-direction: column;
  background-color: #00000060;
  width: 100%;
  height: 600px;
  padding-left: 25px;
}

@keyframes carousel-heading {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(300px);
  }
}

@keyframes carousel-text {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(300px);
  }
}

.home-carousel-heading {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
  animation-name: carousel-heading;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-fill-mode: both;
  animation-direction: normal;
}

.home-carousel-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #e6e5e5;
  animation-name: carousel-text;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-fill-mode: both;
  animation-direction: normal;
}
