.bayanno-home-bg-container {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.bayanno-home-content-container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bayanno-home-carousel-container {
  width: 100%;
  margin-bottom: 12px;
  height: 600px;
}

.bayanno-home-carousel {
  width: 100%;
  height: 600px;
}

.home-carousel-container-1 {
  width: 100%;
  background-image: url("../../assets/slider1-home.jpg");
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.home-carousel-container-card {
  display: flex;
  flex-direction: column;
  background-color: #00000060;
  width: 100%;
  height: 600px;
  padding-left: 25px;
}

@keyframes carousel-heading {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(250px);
  }
}

@keyframes carousel-text {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(250px);
  }
}

.home-carousel-heading {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
  animation-name: carousel-heading;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-fill-mode: both;
  animation-direction: normal;
}

.home-carousel-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #e6e5e5;
  animation-name: carousel-text;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-fill-mode: both;
  animation-direction: normal;
}

.home-carousel-container-2 {
  width: 100%;
  background-image: url("../../assets/slider2-home.jpg");
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.home-carousel-container-3 {
  width: 100%;
  background-image: url("../../assets/slider3-home.jpg");
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.bayanno-home-info-section {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .bayanno-home-info-section {
    top: -100px;
    position: relative;
    z-index: 2;
  }
}

.bayyano-home-info-em-contact-card {
  background-color: #46acd6;
  padding: 35px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bayanno-home-info-em-con-icon {
  height: 27px;
  width: 27px;
  color: #ffffff;
  margin-bottom: 16px;
}

.bayanno-home-info-heading {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 12px;
}

.bayanno-home-info-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 26px;
  color: #ffffff;
}

.bayyano-home-info-book-appoint-card {
  background-color: #289bca;
  padding: 35px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.baynno-home-info-book-appointment-button {
  background-color: #ffffff;
  text-decoration: none;
  color: #0087be;
  min-height: 48px;
  width: 100%;
  max-width: 220px;
  min-width: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
  padding: 7px;
}

.baynno-home-info-book-appointment-button:hover {
  text-decoration: none;
  background-color: #0087be;
  color: #ffffff;
}

.bayyano-home-info-opening-hours-card {
  background-color: #0087be;
  padding: 35px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bayanno-home-info-clock-icon {
  height: 27px;
  width: 27px;
  color: #ffffff;
  margin-bottom: 16px;
}

.bayanno-home-info-opening-hours-text {
  list-style-type: none;
  color: #e9e9e9;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-bottom: 1px solid #ffffff60;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.bayanno-home-welcome-container {
  background-color: #fcfcfc;
  padding-top: 4rem;
  padding-bottom: 0px;
}

.bayanno-home-welcome-heading {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 26px;
  color: #111111;
}

.bayanno-home-welcome-des {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #55595c;
}

.bayanno-home-services-container {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  align-items: center;
  background-color: #0087be;
  position: relative;
  z-index: 2;
}

.bayanno-home-services-main-heading {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  margin-top: 16px;
}

.bayanno-home-services-description {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.container-sec {
  position: relative;
  top: -23px;
  z-index: 0;
}

.bayanno-home-triangle-icon-services {
  margin-top: 0px;
  width: 62px;
  height: 62px;
  color: #0087be;
}
