.bayanno-admin-sidebar-container {
  background-color: #2c2e3e;
  width: 260px;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 11px;
  padding-bottom: 11px;
  transition: all 0.5s;
  flex-shrink: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.bayanno-admin-sidebar-container-collapsed {
  width: 90px;
}

.bayanno-admin-sidebar-inner-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bayanno-admin-sidebar-logo {
  width: 60px;
  margin-right: 2px;
}

.bayanno-admin-menu-button-sidebar {
  background-color: rgba(69, 74, 84, 0.4);
  border: 1px solid #454a54;
  outline: none;
  cursor: pointer;
  padding: 6px;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 8px;
  border-radius: 2px;
}

.bayanno-admin-menu-button-sidebar:focus {
  outline: none;
}

.bayanno-admin-menu-button-sidebar:hover {
  background-color: rgba(69, 74, 84, 0.9);
}

.bayanno-admin-menu-button-icon-sidebar {
  color: #eeeded;
  font-size: 22px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.bayanno-admin-details-sidebar-container {
  border-top: 1px solid #454a54;
  display: flex;
  align-items: center;
}

.bayanno-admin-sidebar-profile-icon {
  width: 54px;
  border: 4px solid rgba(255, 255, 255, 0.11);
  margin-right: 15px;
  border-radius: 50%;
}

.bayanno-admin-sidebar-profile-welcome-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #cccccc;
  margin-bottom: 2px;
}

.bayanno-admin-sidebar-profile-name {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 5px;
}

.bayanno-admin-sidebar-menu-container {
  display: flex;
  flex-direction: column;
}

.bayanno-admin-sidebar-menu-item-container {
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  text-decoration: none;
}

.bayanno-admin-sidebar-menu-item-container:hover {
  text-decoration: none;
  background-color: #292b3a;
}

.bayanno-admin-sidebar-menu-item-container-active {
  background-color: #292b3a;
}

.bayanno-admin-sidebar-menu-item-icon {
  color: #525672;
  margin-right: 15px;
  font-size: 15px;
}

.bayanno-admin-sidebar-menu-item-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #868aa8;
}
